#maincode {
    font-family: consolas;
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: #f4fbf4;
}

.codecomment {
    background: yellow;
    padding: 2px;
    margin: 5px;
    box-shadow: inset 1px 1px 1px 1px #F6D946;
}

.editBlock {
	margin-top: 10px;
}