#maincode {
    font-family: consolas;
    width: 80%;
    margin: auto;
    padding: 10px;
    background: #f4fbf4;
}

.codeline {
    margin : 0px 0px 0px -20px;
	border: 0px;
	font-size: 12px;
	height: 18px;
}

.codecomment {
    background: yellow;
    padding: 5px;
    margin: 10px;   
    box-shadow: inset 1px 1px 1px 1px #F6D946;
}